<%= flash[:notice] if flash[:notice] %>
<%= link_to 'Nowy kolor', new_material_color_path%>
<br />
<table class="table table-striped" border="1">
<h3>Tabela dostępnych kolorów</h3>
<h4><%= @material.brand %></h4>
	<tr>
		<th>ID</th>
		<th>Kolor</th>
		<th>Zdjęcie</th>
		<th>Edycja</th>
		<th>Usuwanie</th>
	</tr>
	<% @colors.each do |color| %>
	<tr>
		<td><%= color.id %></td>
		<td><%= color.color%></td>
		<td><%= color.picture %></td>
		<td><%= link_to 'Edytuj', edit_material_color_path(@material, color) %></td>
		<td><%= link_to 'Usuń', material_color_path(@material, color), method: :delete, data: { confirm: "Na pewno usunąć?" } %></td>
	</tr>
	<% end %>
</table>
<%= link_to "Wróć do materiałów", materials_path %>
