<%= form_for(@material) do |f| %>
	<div class="form-group">
		<%= f.label :Rodzaj%>
		<%= f.text_field :brand %>
	</div>
	<div class="form-group">
		<%= f.label :Kolor %>
		<%= f.text_field :color %>
	</div>
	<div class="form-group">
		<%= f.label :pic %>
		<%= f.text_field :pic %>
	</div>
<br />
<%= f.submit "Zapisz" %>
<% end %>
