<%= flash[:notice] if flash[:notice] %>
<%= link_to 'Nowy materiał', new_material_path%>
<br />
<table class="table table-striped" border="1">
	<tr>
		<th>ID</th>
		<th>Rodzaj materiału</th>
		<th>Szczegóły</th>
		<th>Edycja</th>
		<th>Usuwanie</th>
	</tr>
	<% @materials.each do |material| %>
	<tr>
		<td><%= material.id %></td>
		<td><%= material.brand %></td>
		<td><%= link_to 'Pokaż', material_path(material) %></td>
		<td><%= link_to 'Edytuj', edit_material_path(material) %></td>
		<td><%= link_to 'Usuń', material_path(material), method: :delete, data: { confirm: "Na pewno usunąć?" } %></td>
	</tr>
	<% end %>
</table>
<%= link_to "Wróć do strony początkowej", root_path %>
