<%= form_for(@product) do |f| %>
	<div class="form-group">
		<%= f.label :kind, "Typ" %>
		<%= f.text_field :kind %>
	</div>
	<div class="form-group">
		<%= f.label :model, "Model" %>
		<%= f.text_field :model %>
	</div>
	<div class="form-group">
		<%= f.label :description, "Opis" %>
		<%= f.text_area :description %>
	</div>
	<div class="form-group">
		<%= f.label :price, "Cena(zł)" %>
		<%= f.text_field :price %>
	</div>
	<div class="form-group">
		<%= f.label :picture, "Zdjęcie" %>
		<%= f.file_field :picture %>
	</div>
<br />
<%= f.submit "Zapisz" %>
<% end %>
